p{
    color: white;
    background-color: blue;
}
div p{
    color: rgb(243, 245, 241);
    background-color: rgb(166, 14, 241);
}
div h4{
    color: rgb(10, 1, 1);
    background-color: rgb(7, 250, 7);
}
h1{
    background-color: #ffff00;
    text-align: center;
}
h4{
    color: rgb(15, 15, 13);
    background-color: rgb(253, 253, 253);
}
h1{
    text-align: center;
    background-color: rgb(237, 241, 8);
    border-width: 2px;
    border-style: dotted;
    padding: 50px 150PX;
    margin: 50PX 5px;
    border-radius: 30ch;
}