
    /* goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
/* font-family: 'Work Sans', sans-serif; */


/* Global Css */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 90%;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.Global-heading{

    color: white;
    
    font-weight: 700;
}
    
.Global-p{

    color: #303030;
}
    
.Global-button{
    
    background-color: transparent;
        
    color: white;
        
    padding: 10px;
        
    width: 150px;
        
    border: 2px solid white;
        
    border-radius: 30px;
}

/* header-part */

#header{

width: 100%;

float: left;

background: url(../img/back.png) no-repeat;

background-size: cover;

background-position: center;

padding: 15px 0px;
}
.main-header{

width: 100%;

float: left;
}
.logo-part{

width: 40%;

float: left;
}
.logo-part a img{

}
.menu-part{

width: 60%;

float: left;

text-align: end;
}
.menu-part nav{

}
.menu-part nav ul{

}
.menu-part nav ul li{

display: inline-block;

margin: 0px 15px;
}
.menu-part nav ul li a{

text-decoration: none;

color: white;

font-size: 15px;
}
.hero{

width: 100%;

float: left;

text-align: center;

padding-top: 100px;
}
.hero h1{

font-size: 50px;
}
.hero p{

color: white;

margin: 25px 0px;
}
.hero-btn{

margin-bottom: 30px;
}
.hero-btn a{

}
.hero-btn a button{

margin: 0px 10px;
}
.hero img{

}

/* Main Section */

#features{

width: 100%;

float: left;

background: url(../img/back2.png) no-repeat;
background-size: cover;

background-position: center;
}
.feature-img-part{

width: 50%;

float: left;
}
.feature-img-part img{
    margin: 150px 100px;
}
.feature-box-part{

width: 50%;

float: left;
}
.feature-box{
    width: 40%;
    float: left;
    margin: 0px 50px;
    
}
.feature-in-box{
    
text-align: center;
    
margin: 100px 30px 0px 30px;
background-color: whitesmoke;

}
.feature-in-box h2{

}
.feature-in-box p{

}
.feature-in-box-2{
    text-align: center;
    margin: 160px 30px 0px 30px;
    background-color: whitesmoke;
    
}
.feature-in-box-2 h2{

}
.feature-in-box-2 p{

}
.feature-box-f{
    width: 40%;
    float: left;
    text-align: center;
    
}
.feature-in-box-3{
    padding: 0px 20px;
    margin: 200px 0px 100px 0px ;
    background-color: whitesmoke;
}
.feature-in-box-4{
    padding: 0px 20px;
    margin: 150px 0px 100px 0px;
    background-color: whitesmoke;
}

/* details */


#base{
    width: 100%;
    float: left;

}
.details-part{
    width: 50%;
    float: left;
    text-align: right;


}
.details-part h3{
    padding: 100px 50px 0px 0px;
    font-size: 25px;
    margin: 0px 60px;
}
.details-part p{
    padding: 30px 0px 0px 0px;
    margin: 20px 80px;
    font-size: 12px;
}
.details-part a{
width: 100%;
float: left;
padding-bottom: 100px;
}
.details-part a button{
padding: 8px 35px;
border: 20px;
border-radius: 5px;
color: white;
background-color: turquoise;
margin: 20px 80px;
}
.feature-details{
    width: 50%;
    float: left;

}
.feature-details-box{
    width: 100%;
    float: left;
    margin: 0px 70px;
}
.feature-details-box a{
    width: 10%;
    float: left;
    padding: 20px 0px;
    background-color: whitesmoke;
}
.feature-details-box a img{
    margin: 0px 0px 0px 10px;
    font-size: 8px;
    
}
.feature-details-box h3{
    width: 80%;
    float: left;
    font-size: 15px;
    padding: 20px 0px;
    background-color: whitesmoke;

}
.feature-details-box p{
    width: 80%;
    float: left;
}
.feature-details-box-2{
    width: 100%;
    float: left;
    padding: 10px 0px 30px 0px;
    margin: 0px 70px;
    background-color: turquoise;
}
.feature-details-box-2 a{
    width: 10%;
    float: left;
    padding: 20px 0px;
}
.feature-details-box-2 a img{
    margin: 0px 0px 0px 20px;
    font-size: 10px;
}
.feature-details-box-2 h3{
    width: 80%;
    float: left;
    font-size: 15px;
    padding: 20px 0px;
}
.feature-details-box-2 p{
    width: 80%;
    float: left;
}

/* base */
#base{
    width: 100%;
    float: left;
}
.cite{
    width: 100%;
    float: left;
    margin: 10px 80px;
}
.cite-img{
    width: 60%;
    float: left;
    padding: 50px 0px 30px 0px;

}
.cite-img a{

}
.cite-img img{

}
.cite-part{
    width: 40%;
    float: left;
    padding: 80px 0px;

}
.cite-part h4{
padding: 30px 0px;
font-size: 22px;
}
.cite-part p{
    font-size: 15px;
}
.c-l-p{
    width: 100%;
    float: left;
    padding: 20px 0px;
    display: inline-block;
}
.c-l-p a{
    text-decoration: none;

}
.c-l-p a img{
    border: 20px;
    border-radius: 30px;
    background-color: turquoise;

}